html, body {
  margin: 0;
  padding: 0;
}






/*

Page into css below

*/
.Intro-Div{
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #222831;
  min-height: 800px;
  max-height: 800px;
}



.Text-Picture-Div{
  display: flex;
  gap: 200px; 
}

.info-div{
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.btn-div{
  margin-top: 25px;
}

.icon-text-pair {
  display: flex;
  align-items: center; 
  gap: 30px; 
}

.emailme:hover{
  color: white;
  cursor: pointer;
}

.info-text{

  color: #CCCCCC; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  text-decoration: none;
}

.h2-intro{
  font-size: 2.5rem;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.portrait {
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.5); 
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #76ABAE;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
/*

Page into css above

*/












/*

About me css below

*/

.AboutMe-Div{
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #31363F;
  min-height: 1000px;
}

.Text-Div {
  flex: 1;
  width: 50%; 
  max-width: 700px;
  padding: 50px;

}

.Photo-Div {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 50px;
}

.AboutMePic {
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.h1-AboutMe {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.p-text {
  color: #CCCCCC;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/*

About me css above

*/











/*

Technologies CSS below

*/

.Technologies-Div{
  background-color: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  min-height: 350px;
  margin-top: -32px;
}

.content-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-skills{
  color: #CCCCCC;
  font-size: 1.2rem;
}

.Skills-Text-Div{
  background-color: #222831;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.text-skills-headding{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 2rem;
}

/*

Technologies CSS above

*/







